{% extends "base.html" %}

{% block body_header %}
Podmioty obce
{% endblock %}

{% block body_content %}
<center>
    <form name="set_division_ident" method="POST">
        {{ form.csrf_token }}
        {{ form.division_id }}
        <table>
            <tr><td colspan="3">Spółka macierzysta</td></tr>
            <tr><th>Nazwa</th><th>Identyfikator</th><th></th></tr>
            <tr><td>{{ form.division_label }}</td><td>{{ form.division_ident }}</td><td>{{ form.division_update }}</td></tr>
        </table>
    </form>
</center>
&nbsp;
&nbsp;
<center>
    <table>
        <tr><td colspan="4">Lista podmiotów obcych</td></tr>
        <tr><th>Nazwa</th><th>NIP</th><th>Identyfikator</th><th></th></tr>
        {% for subfield in form.foreign %}
            <form action="foreign_remove" method="post">
                <tr><td>{{ subfield.foreign_name }}</td>
                    <td>{{ subfield.foreign_tin }}</td>
                    <td>{{ subfield.foreign_ident }}</td>
                    <td>{{ subfield.foreign_id }}{{ subfield.foreign_remove }}</td>
                </tr>
            </form>
        {% endfor %}
    </table>
</center>
&nbsp;
&nbsp;
<center>
    <form name="foreign_add" method="POST">
        {{ form.foreign_add }}
    </form>
</center>
{% endblock %}