<br>
<table class='tools'>
    <tr class="tools">
        <td class='tools'>
            <div id="right">
                <span class="submit"><a href="{{ url_for('division') }}">Firmy</a></span>
                <span class="submit"><a href="{{ url_for('foreign') }}">Podmioty obce</a></span>
                <span class="submit"><a href="{{ url_for('nodes') }}">Węzły</a></span>
                <span class="submit"><a href="{{ url_for('logout') }}">Wyloguj</a></span>
            </div>
        </td>
    </tr>
</table>