{% extends "base.html" %}

{% block body_header %}
Routery w węzłach.
{% endblock %}

{% block body_content %}
<center>
    <table>
        <tr>
            <td class="VaT">
                <!-- Nodes -->
                <div>{{ form.nodes.label }}</div>
                <script type="text/javascript">
                    function nodeClick()
                    {
                        document.net_node.submit();
                    }
                </script>
                <form name="net_node" method="post">
                    {{ form.csrf_token }}
                    {{ form.nodes }}
                </form>
            </td>
            <td class="VaT">
                <!-- Routers -->
                <div>{{ form.routers.label }}</div>
                <script type="text/javascript">
                    function routerClick()
                    {
                        document.net_router.submit();
                    }
                </script>
                <script type="text/javascript"></script>
                <form name="net_router" method="post">
                    {{ form.routers }}
                </form>
            </td>
            <td class="VaT">
                <!-- Connections -->
                <div>{{ form.connections.label }}</div>
                <script type="text/javascript"></script>
                <form name="net_connections" method="post">
                    {{ form.connections }}
                </form>
            </td>
        </tr>
    </table>
</center>
{% endblock %}