{% extends "base.html" %}

{% block body_header %}
Routery w węzłach
{% endblock %}

{% block body_content %}
<center>
    <table>
        <tr>
            <form name="net_node" method="post">
                <td class="VaT">
                    <!-- Nodes -->
                    <div>{{ form.nodes.label }}</div>
                    {{ form.nodes }}
                </td>
                <td class="VaT">
                    <!-- Routers -->
                    <div>{{ form.routers.label }}</div>
                    {{ form.routers }}
                </td>
                <td class="VaT">
                    <!-- Connections -->
                    <div>{{ form.connections.label }}</div>
                    {{ form.connections }}
                </td>
            </form>
        </tr>
        <tr>
            <form name="net_node_all" method="post">
                <td colspan="2"></td>
                <td>{{ form.show_all.label }}{{ form.show_all }}</td>
            </form>
        </tr>
    </table>
    <script type="text/javascript">
        const node_select = document.getElementById("nodes");
        const router_select=document.getElementById("routers");
        const conn_select=document.getElementById("connections");
        const show_all=document.getElementById('show_all');
        

        if (node_select.selectedIndex == -1 && !show_all.checked) {
            router_select.disabled = true;
            conn_select.disabled = true;
        } else {
            router_select.disabled = false;
            conn_select.disabled = false;
        }

        node_select.addEventListener("change",() => {
            router_select.selectedIndex = -1;
            conn_select.selectedIndex = -1;
        });

        function nodeClick()
        {
            document.net_node.submit();
        };
        function nodeAllClick()
        {
            document.net_node_all.submit();
        };
    </script>
</center>
{% endblock %}