{% extends "base.html" %}

{% block body_header %}
Transmisje międzywęzłowe
{% endblock %}

{% block body_content %}
<center>
    <table>
        <tr>
            <td class="VaT">
                <form name="net_node" method="POST">
                    <!-- Nodes -->
                    <div>{{ form.nodes.label }}</div>
                    {{ form.nodes }}
                </form>
            </td>
            <td class="VaT">
                {% if keys %}
                <table>
                    {% for key in keys %}
                    <tr><th colspan="5">{{ key }}</th></tr>
                        {% for item in data[key] %}
                        <tr>
                            <td>{{ item.rid1 }}</td>
                            <td>{{ item.if1 }}</td>
                            <td><-></td>
                            <td>{{ item.if2 }}</td>
                            <td>{{ item.rid2 }}</td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
                {% endif %}
            </td>
        </tr>
    </table>
    <script type="text/javascript">
        function nodeClick()
        {
            document.net_node.submit();
        };
    </script>
</center>
{% endblock %}